* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff1f5;
  color: #4c4f69;
  height: 100vh;
}

h1 {
  text-decoration: underline;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.userInputSection {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.userInputSection label {
  font-weight: bold;
}

.userInputSection button {
  padding: 7px 30px;
  border: none;
  background-color: #dc8a78;
  color: #eff1f5;
  font-weight: bold;
  border-radius: 25px;
}
.userInputSection input {
  border: 1px solid #9ca0b0;
  border-radius: 20px;
  width: 40vh;
  padding: 5px;
  outline: 1px solid #6c6f85;
}
.grid {
  padding: 100px;
}
.row {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
  background-color: #dce0e8;
  padding: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
